---
layout: default
---

  <div id="homeid" class="col-sm-8">

          <!-- <img style="position:relative; left:0px" src="/images/logopic/group_logo_medium_text.png" height="120" width="auto" class="rounded float-right" alt="...">
        -->
          <img src="{{ site.url }}{{ site.baseurl }}/images/teampic/Tung1.jpg" class="img-responsive" width="40%" style="float: left"/>
          
        <h1> &nbsp;&nbsp;&nbsp;&nbsp;
          Welcome to my website!  </h1>
          <a href="https://scholar.google.com/citations?user=7EBWx6oAAAAJ&hl=en&oi=ao" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            <i class="fa-brands fa-google-scholar" style="color: #000000;"></i> Google Scholar
          </a> </br> &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://www.researchgate.net/profile/Tung-Nguyen-230" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            <i class="fa-brands fa-researchgate" style="color: #000000;"></i> ResearchGate
          </a> </br> &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://www.linkedin.com/in/anh-tung-nguyen-8a81771b0/" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            <i class="fa-brands fa-linkedin" style="color: #000000;"></i> LinkedIn
          </a> </br> &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://github.com/tungnguyenkstnk58" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            <i class="fa-brands fa-github" style="color: #000000;"></i> GitHub
          </a> </br> &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="http://orcid.org/0000-0001-9316-233X" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            <i class="fa-brands fa-orcid" style="color: #000000;"></i> ORCID
          </a>

  </br> </br> </br> </br>
	{{ content }}
  </div>
  <div id="newsid" class="col-sm-4" >
	{% include news.html %}
  </div>
